/venv/
/.idea/misc.xml
__pycache__/config.cpython-37.pyc
flask_wtforms_tutorial/__pycache__/__init__.cpython-37.pyc
flask_wtforms_tutorial/__pycache__/forms.cpython-37.pyc
flask_wtforms_tutorial/__pycache__/routes.cpython-37.pyc
